@use '../0-settings/placeholders';
@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;

.examples {
  @extend %container;

  &__title {
    @extend %section-title;

    & > span {
      @extend %section-title-span;

      background-image: linear-gradient(
        145.56deg,
        #fcd384 7.56%,
        #855700 71.46%
      );
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $block-padding-mobile;
    margin-top: $block-padding-mobile;

    @include media('>=sm') {
      grid-template-columns: 1fr 1fr;
      margin-top: 3rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      gap: $block-padding-pc;
      margin-top: 5rem;
    }
  }
}

.example {
  padding: $block-padding-mobile;
  background-color: #ffffff;
  box-shadow: $default-shadow;
  border-radius: $default-radius;
  overflow: hidden;

  @include media('>=#{$mobile-menu-breakpoint}') {
    padding: $block-padding-pc;
  }

  &__title {
    font-family: $body-font;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #704f10;

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 2.1rem;
      line-height: 2.6rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: $block-padding-mobile;

    @include media('>=sm') {
      flex-direction: row;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: $block-padding-pc;
    }
  }

  &__slider {
    width: 100%;

    @include media('>=sm') {
      width: 60%;
    }
  }

  &__text {
    width: 100%;
    margin-top: $block-padding-mobile;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;

    @include media('>=sm') {
      width: calc(40% - $block-padding-mobile);
      margin-top: 0;
      margin-left: $block-padding-mobile;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      width: calc(40% - $block-padding-pc);
      margin-left: $block-padding-pc;
    }

    ul {
      list-style-position: outside;
      list-style-type: disc;
      padding-left: 1.6rem;

      li {
        margin-bottom: 0.2rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    & > * {
      @extend %text-margin;
    }
  }
}

.swiper_example {
  width: 100%;

  .swiper-slide {
    border-radius: $default-radius;
  }
}

.swiper_example-thumbs {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0 0;

  .swiper-slide {
    width: 25%;
    height: 100%;
    border-radius: $default-radius;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
