@use '../0-settings/placeholders';
@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;

.footer {
  color: #ffffff;
  background-color: #5f5f5f;

  &__inner {
    @extend %container;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include media('>=#{$mobile-menu-breakpoint}') {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include media('>=sm') {
      flex-direction: row;
      align-items: center;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.085em;

    @include media('>=sm') {
      font-size: 1.1rem;
      line-height: 1.3rem;
      white-space: nowrap;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 2rem;
      line-height: 2.4rem;
    }

    .mark {
      margin-right: 0.5rem;
      font-size: 2.4rem;
      line-height: 1;
    }
  }

  &__requisits {
    margin-top: $block-padding-mobile;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #d6d6d6;

    @include media('>=sm') {
      margin-top: 0;
      margin-left: $block-padding-mobile;
      margin-right: $block-padding-mobile;
      white-space: nowrap;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-left: $block-padding-pc;
      margin-right: $block-padding-pc;
      font-size: 1.7rem;
      line-height: 2.1rem;
    }
  }

  &__note {
    margin-top: $block-padding-mobile;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #d6d6d6;

    @include media('>=sm') {
      margin-top: 0;
      margin-left: $block-padding-mobile;
      margin-right: $block-padding-mobile;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.1rem solid rgba(248, 248, 248, 0.42);

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__menus {
    display: none;

    @include media('>=sm') {
      display: flex;
      gap: 1.5rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      gap: 2rem;
    }
  }

  &__menus + hr {
    display: none;

    @include media('>=sm') {
      display: block;
    }
  }

  &__menu {
    flex-grow: 1;

    .title {
      font-family: $body-font;
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 1rem;
      letter-spacing: 0.085em;

      @include media('>=#{$mobile-menu-breakpoint}') {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }

    .menu {
      margin-top: 1.2rem;
      list-style-type: none;

      @include media('>=#{$mobile-menu-breakpoint}') {
        margin-top: 2rem;
      }

      & > * {
        @extend %text-margin;
      }

      &__item {
        font-size: 0.8rem;
        line-height: 1rem;
        letter-spacing: 0.085em;

        @include media('>=#{$mobile-menu-breakpoint}') {
          font-size: 1.6rem;
          line-height: 2rem;
        }

        a {
          color: #ffffff;
          border-bottom: 0.1rem solid rgba(248, 248, 248, 0.42);

          &:hover {
            opacity: 0.7;
            border-bottom-color: transparent;
          }
        }
      }
    }
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include media('>=sm') {
      flex-wrap: nowrap;
    }

    &__title {
      width: 100%;
      margin-right: 1rem;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.3rem;
      letter-spacing: 0.085em;

      @include media('>=sm') {
        width: auto;
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      @include media('>=#{$mobile-menu-breakpoint}') {
        margin-right: 2rem;
        font-size: 2.6rem;
        line-height: 3.2rem;
      }
    }

    &__link {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
      color: #ffffff;

      @include media('>=#{$mobile-menu-breakpoint}') {
        font-size: 2.5rem;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
