@use '../0-settings/placeholders';
@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;

.header {
  @extend %blur-white-bg;
  position: fixed;
  width: 100%;
  box-shadow: $default-shadow;
  z-index: $z-header;

  &__inner {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    height: 5rem;

    @include media('>=sm') {
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 6.5rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      justify-content: space-between;
      height: 12rem;
    }
  }

  &__average {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @include media('>=#{$mobile-menu-breakpoint}') {
      justify-content: space-between;
    }
  }

  &__title {
    display: none;

    @include media('>=#{$mobile-menu-breakpoint}') {
      display: flex;
      text-align: center;
      font-weight: 500;
      font-size: 3rem;
      line-height: 1;
    }
  }

  &__nav {
    display: flex;
    list-style-type: none;

    @include media('>=#{$mobile-menu-breakpoint}') {
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  }

  &__nav-item {
    display: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    @include media('>=#{$mobile-menu-breakpoint}') {
      display: flex;
      align-items: center;
    }

    &.menu-toggle {
      display: flex;
    }
  }

  &__nav-link {
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    user-select: none;

    @include media('>=sm') {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    text-align: right;

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-left: 0;
    }
  }

  &__phone {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 2.3rem;
      line-height: 2.8rem;
    }
  }

  &__time {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.3rem;

    @include media('>=sm') {
      margin-top: 0;
      font-size: 1.1rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 0.7rem;
      font-size: 2.3rem;
      line-height: 2.8rem;
    }
  }

  &__promise {
    display: none;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #ff5841;

    @include media('>=sm') {
      display: block;
      margin-top: 0;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 0.7rem;
      font-size: 1.7rem;
      line-height: 2rem;
    }
  }

  &_fixed {
    .header__inner {
      height: 5rem;

      @include media('>=sm') {
        height: 5rem;
        padding-top: 0;
        padding-bottom: 0;
      }

      @include media('>=#{$mobile-menu-breakpoint}') {
        height: 8rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

    .header__time {
      @include media('>=sm') {
        display: none;
      }
    }
  }
}

.logo {
  display: flex;
  max-width: 12rem;
  height: 100%;

  &__img {
    max-width: 100%;
    height: auto;
  }
}
