@use '../0-settings/placeholders';
@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;

.header {
  @extend %blur-white-bg;
  position: fixed;
  width: 100%;
  box-shadow: $default-shadow;
  z-index: 100;

  &__inner {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    height: 5rem;

    @include media('>=sm') {
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 6.5rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      height: 12rem;
    }
  }

  &__title {
    display: none;

    @include media('>=#{$mobile-menu-breakpoint}') {
      display: block;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 500;
      font-size: 2.3rem;
      line-height: 1;
    }
  }

  &__nav {
    display: none;
    list-style-type: none;

    @include media('>=#{$mobile-menu-breakpoint}') {
      display: flex;
      justify-content: center;
    }
  }

  &__nav-item {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  &__nav-link {
    font-size: 1.6rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.6rem;

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 2.3rem;
      line-height: 2.8rem;
    }
  }

  &__time {
    margin-top: 0.4rem;
    font-size: 1.1rem;
    line-height: 1.3rem;

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 0.7rem;
      font-size: 2.3rem;
      line-height: 2.8rem;
    }
  }

  &__promise {
    display: none;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #ff5841;

    @include media('>=sm') {
      display: block;
      margin-top: 0.4rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 0.7rem;
      font-size: 1.7rem;
      line-height: 2rem;
    }
  }
}

.logo {
  display: flex;
  width: auto;
  height: 100%;

  &__img {
    max-width: 100%;
    height: auto;
  }
}
