@use '../0-settings/placeholders';
@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;

// Components
@use '../2-components/button';

.hero {
  padding: 10rem $block-padding-mobile;
  background-repeat: no-repeat;
  background-size: cover;

  @include media('>=sm') {
    padding-top: 8.6rem;
    padding-bottom: 7.6rem;
  }

  @include media('>=#{$mobile-menu-breakpoint}') {
    padding: 19rem $block-padding-pc;
  }

  &__inner {
    @extend %container;
    width: 100%;
    padding: $block-padding-mobile;
    background-color: rgba(5, 5, 5, 0.53);
    backdrop-filter: blur(5px);
    border-radius: $default-radius;
    text-align: center;

    @include media('>=sm') {
      max-width: 48.6rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      max-width: 96rem;
      padding: calc($block-padding-pc * 2);
    }
  }

  &_main {
    background-image: url('../img/hero-main.jpg');
    background-position: 44% center;

    .hero__inner {
      @include media('>=sm') {
        padding-bottom: calc($block-padding-mobile + 1.3rem);
      }

      @include media('>=#{$mobile-menu-breakpoint}') {
        padding-bottom: calc($block-padding-pc * 2 + 3.1rem);
      }
    }
  }

  &__desc {
    width: 100%;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $inverted-text-color;

    @include media('>=sm') {
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin-top: 1rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 1.6rem;
      font-size: 3.3rem;
      line-height: 4rem;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    @include media('>=sm') {
      margin-top: -2rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: -4rem;
    }
  }
}
