@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;
@use '../0-settings/placeholders';

.numbers {
  @extend %container;
  padding-top: 0;

  &__list {
    display: flex;
    justify-content: space-around;
    padding: $block-padding-mobile;
    background-color: #fff;
    border-radius: $default-radius;
    box-shadow: $default-shadow;

    @include media('>=sm') {
      max-width: 43rem;
      margin-left: auto;
      margin-right: auto;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      max-width: 86rem;
      padding: $block-padding-pc;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc($block-padding-mobile / 2);
    margin-right: calc($block-padding-mobile / 2);

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-left: calc($block-padding-pc / 2);
      margin-right: calc($block-padding-pc / 2);
    }

    & > * {
      @extend %text-margin;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & > .title {
      font-family: $header-font;
      font-weight: 400;
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: 0.065em;
      text-transform: uppercase;
      -webkit-text-stroke: 0.05rem rgba(112, 79, 16, 0.6);
      @extend %text-gradient;
      background-image: linear-gradient(
        194.41deg,
        #fcd384 29.74%,
        #b57700 89.78%
      );

      @include media('>=#{$mobile-menu-breakpoint}') {
        font-size: 6rem;
        line-height: 6.9rem;
      }
    }

    & > .desc {
      font-size: 0.8rem;
      line-height: 1.1rem;
      text-align: center;
      letter-spacing: 0.085em;
      text-transform: uppercase;
      color: #3f3f3f;

      @include media('>=sm') {
        font-size: 0.9rem;
      }

      @include media('>=#{$mobile-menu-breakpoint}') {
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      & > strong {
        display: block;
      }
    }
  }
}

.hero + .numbers {
  position: relative;
  margin-top: -4.4rem;

  @include media('>=#{$mobile-menu-breakpoint}') {
    margin-top: -7.8rem;
  }
}

.numbers + .reasons .reasons__inner {
  padding-top: 0;
}
