@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;
@use '../0-settings/placeholders';

.reasons {
  counter-reset: reason;

  &__inner {
    @extend %container;
    font-size: 1.2rem;
    line-height: 1.5rem;

    @include media('>=sm') {
      font-size: 1.9rem;
      line-height: 2.3rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 3.3rem;
      line-height: 4rem;
    }
  }

  &__list {
    margin-top: $block-padding-mobile;
    list-style-type: none;

    @include media('>=sm') {
      margin-top: 3rem;
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-top: 5rem;
    }
  }

  &__resume {
    text-align: center;
  }

  .reason {
    position: relative;
    margin-bottom: 1.8rem;
    padding-left: 4.5rem;

    @include media('>=sm') {
    }

    @include media('>=#{$mobile-menu-breakpoint}') {
      margin-bottom: 4.4rem;
      padding-left: 8rem;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: calc(50% - 1.4rem);
      width: 2.8rem;
      height: 2.8rem;
      background-image: radial-gradient(
        40.75% 124.71% at 37.77% 10.67%,
        #fff6d6 0%,
        #fcd384 100%
      );
      border-radius: 50%;

      @include media('>=#{$mobile-menu-breakpoint}') {
        top: calc(50% - 2.5rem);
        width: 5rem;
        height: 5rem;
      }
    }

    &:after {
      counter-increment: reason;
      content: counter(reason);
      position: absolute;
      left: 0;
      top: calc(30% - 1.7rem);
      font-weight: 700;
      font-size: 3.4rem;
      line-height: 1;
      letter-spacing: 0.01em;
      background-image: linear-gradient(180deg, #a7a7a7 0%, #555555 100%);
      @extend %text-gradient;

      @include media('>=#{$mobile-menu-breakpoint}') {
        top: calc(30% - 3rem);
        font-size: 6rem;
      }
    }
  }
}
