@use '../0-settings/variables' as *;
@use '../0-settings/include-media' as *;
@use '../0-settings/placeholders';
@use '../0-settings/mixins' as *;

.video-reviews {
  background-image: url('../img/video-reviews/bg-reviews.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    @extend %container;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %section-title;
    @extend %blur-white-bg;

    & > span {
      @extend %section-title-span;

      background-image: linear-gradient(180deg, #fcd384 0%, #855700 60.86%);
    }
  }
}

.swiper_video-reviews {
  --swiper-navigation-color: $body-color;
  --swiper-navigation-sides-offset: 2.2rem;
  --swiper-pagination-bottom: 1.8rem;

  width: calc(100% + $block-padding-mobile * 2);
  height: calc(100% + $block-padding-mobile);
  padding: $block-padding-mobile;

  margin-left: -$block-padding-mobile;
  margin-right: -$block-padding-mobile;
  margin-bottom: -$block-padding-mobile;

  @include media('>=sm') {
    --swiper-navigation-sides-offset: 1rem;
    padding-top: 3rem;
  }

  @include media('>=#{$mobile-menu-breakpoint}') {
    padding-top: 5rem;
  }

  .swiper-slide {
    border-radius: $default-radius;
  }
}

.video-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: $block-padding-mobile 4rem 3rem;
  background-color: #fff;
  box-shadow: $default-shadow;

  @include media('>=sm') {
    padding-right: $block-padding-mobile;
    padding-left: $block-padding-mobile;
    padding-bottom: $block-padding-mobile;
  }

  @include media('>=#{$mobile-menu-breakpoint}') {
    padding: $block-padding-pc;
  }

  & > * {
    @extend %block-margin;
  }

  &__title {
    font-family: $body-font;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #704f10;

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 2.1rem;
      line-height: 2.6rem;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.3rem;
    letter-spacing: 0.01em;

    @include media('>=#{$mobile-menu-breakpoint}') {
      font-size: 1.9rem;
      line-height: 2.3rem;
    }

    & > * {
      @include ellipsis-text();
    }
  }

  .video {
    border-radius: $default-radius;
  }
}
