@use './variables' as *;
@use './include-media' as *;

%transition {
  transition: all 0.3s ease-out;
}

%container {
  width: 100%;
  max-width: $site-width;
  margin: 0 auto;
  padding: $block-padding-mobile;

  @include media('>=sm') {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @include media('>=#{$mobile-menu-breakpoint}') {
    padding: 3.5rem $block-padding-pc;
  }
}

%text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

%section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $text-color;
  -webkit-text-stroke: 0.03rem rgba(112, 79, 16, 0.7);
  text-align: center;

  @include media('>=sm') {
    font-size: 3rem;
    line-height: 3.5rem;
    -webkit-text-stroke: 0.05rem rgba(112, 79, 16, 0.7);
  }

  @include media('>=#{$mobile-menu-breakpoint}') {
    font-size: 5.7rem;
    line-height: 6.6rem;
  }
}

%section-title-span {
  @extend %text-gradient;

  @include media('>=sm') {
    display: block;
  }
}

%text-margin {
  margin-bottom: calc($block-padding-mobile / 2);

  @include media('>=#{$mobile-menu-breakpoint}') {
    margin-bottom: calc($block-padding-pc / 2);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

%block-margin {
  margin-bottom: calc($block-padding-mobile);

  @include media('>=#{$mobile-menu-breakpoint}') {
    margin-bottom: calc($block-padding-pc);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
