// Fonts
$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Oranienbaum', serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;
$header-font-weight: 400;

// For REM / EM
$basic-font-size: 62.5%;
$paragraph: 1.6rem;
$line-height: 2.5rem;

// Mixed colors
$text-color: #393939;
$inverted-text-color: #ffffff;

// Misc
$site-width: 116rem;
$block-padding-pc: 2rem;
$block-padding-mobile: 1.6rem;
$default-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.13);
$default-radius: 1rem;
$default-border: 0.1rem solid rgba(0, 0, 0, 0.57);

// Mobile menu breakpoint
$mobile-menu-breakpoint: 'lg';
