// Fonts
$font-family: 'Montserrat', sans-serif;
$font-family-title: 'Oranienbaum', serif;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;
$header-font-weight: 400;

// For REM / EM
$basic-font-size: 62.5%;
$paragraph: 1.6rem;
$line-height: 2.5rem;

// Mixed colors
$text-color: #393939;
$inverted-text-color: #ffffff;

// Misc
$site-width: 116rem;
